<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>올리뷰 AllREVIEW</title>
</head>
<body>
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="/">
            <img src="https://s3.ap-northeast-2.amazonaws.com/allrvw/mainTestImg/logo_nav.png" width="150" height="auto" alt="로고">
        </a>
    </nav>
    <img style="width:100%; height:auto;" src="https://s3.ap-northeast-2.amazonaws.com/allrvw/mainTestImg/web_main.jpg">
    <div class="container">
        <div class="row">
           <!-- 이미지 -->
        </div>
        <div class="row">
            <div class="col">
                <a href="https://www.youtube.com/channel/UCWKJKnXGOTbGMFZdkziF7qg?view_as=subscriber">
                    <img class="poster" src="https://s3.ap-northeast-2.amazonaws.com/allrvw/mainTestImg/beauty_contest.jpg" alt="뷰티포스터">
                </a>
            </div>
            <div class="col">
                <a href="https://www.youtube.com/channel/UCxOBfZgGzQQ5H21R7Y6_T2g?view_as=subscriber">
                    <img class="poster" src="https://s3.ap-northeast-2.amazonaws.com/allrvw/mainTestImg/KPOP_contest.png" alt="KPOP포스터">
                </a>
            </div>
        </div>
    </div>
</body>
</html>